/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:#e2e8f0;
  overflow-x:hidden;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  position:sticky;
  top:0;
  z-index:1000;

  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(10px);
  border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo{
font-size:22px;
font-weight:bold;
letter-spacing:1px;
}

/* NAVBAR */
nav a{
  color:#cbd5f5;
  text-decoration:none;
  margin-left:25px;
  font-size:15px;
  position:relative;
  transition:0.3s;
}

nav a:hover{
  color:#67e8f9;
}

nav a::after{
  content:"";
  position:absolute;
  width:0%;
  height:2px;
  background:#67e8f9;
  left:0;
  bottom:-5px;
  transition:0.3s;
}

nav a:hover::after{
  width:100%;
}

/* PROJECT SECTION */
.Projects{
  padding:110px 10%;
  text-align:center;
}

.Projects h2{
  font-size:42px;
  margin-bottom:70px;
  font-weight:600;
}

/* GRID (SMOOTH SCROLL FIX) */
.Projects-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:40px;
  justify-items:center;
}

/* CARD LINK */
.project-card{
  text-decoration:none;
  width:100%;
  max-width:340px;
}

/* CARD */
.card{
  border-radius:20px;
  overflow:hidden;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.08);

  transition:all 0.4s ease;
  cursor:pointer;
  position:relative;
}

/* IMAGE */
.img-box{
  height:200px;
  overflow:hidden;
}

.img-box img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:transform 0.6s ease;
}

/* CONTENT */
.card-content{
  padding:22px;
}

.card-content h3{
  font-size:20px;
  color:#ffffff;
  margin-bottom:10px;
  font-weight:600;
}

.card-content p{
  font-size:14px;
  color:#94a3b8;
  line-height:1.5;
}

/* HOVER EFFECT */
.card:hover{
  transform:translateY(-12px) scale(1.03);
  box-shadow:0 25px 50px rgba(0,0,0,0.5);
  border:1px solid rgba(103,232,249,0.5);
}

/* IMAGE ZOOM */
.card:hover img{
  transform:scale(1.12);
}

/* GLOW EFFECT */
.card::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(120deg,transparent,rgba(103,232,249,0.25),transparent);
  opacity:0;
  transition:0.5s;
}

.card:hover::before{
  opacity:1;
}

nav a.active{
  color:#67e8f9;
}

nav a.active::after{
  width:100%;
}

/* FOOTER */
footer{
  text-align:center;
  padding:25px;
  margin-top:80px;

  background:rgba(0,0,0,0.3);
  backdrop-filter:blur(10px);
  border-top:1px solid rgba(255,255,255,0.08);
}